@import "./global.scss";

.currentEvents {
  ul {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @media (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .eventItem {
      background-color: white;
      transition: 0.5s;

      a {
        display: block;
        padding: $base-gap;
        display: grid;
        grid-auto-rows: min-content;
        gap: 10px;
      }

      .imgBox {
        aspect-ratio: 16/9;
      }

      &:nth-child(1) {
        grid-area: 1/1/3/3;

        @media (max-width: 980px) {
          border-right: none !important;
          border-bottom: 1px solid black;
        }

        .imgBox {
          aspect-ratio: 5/4;
          aspect-ratio: 16/9;
        }
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4) {
        border-right: 1px solid black;
      }

      &:nth-child(2),
      &:nth-child(3) {
        border-bottom: 1px solid black;
      }

      .eventType {
        display: inline-block;
        padding-left: 20px;
        font-size: 1.6rem;
        text-transform: capitalize;
        position: relative;

        &::before {
          display: block;
          content: "";
          width: 10px;
          height: 10px;
          background: black;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }

      h3 {
        margin-bottom: 10px;
        font-size: 2rem;
        text-transform: uppercase;
      }

      p {
        font-size: 2.4rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      &:hover {
        background-color: black;
        color: white;
        transition: 0.5s;

        .eventType::before {
          background-color: white;
        }
      }
    }
  }

  .moreEventsBanner {
    padding: 15px 0;
    background: #5aaf21;
    // background-color: black;
    // border-top: 1px solid white;
    position: relative;

    // marquee {
    //   font-size: 20rem;
    //   font-weight: 900;
    //   text-transform: uppercase;
    //   color: transparent;
    //   -webkit-text-stroke: rgba(0, 0, 0, 0.5);
    //   -webkit-text-stroke-width: 1px;
    // }

    a {
      display: block;
      width: fit-content;
      padding: 10px 20px;
      margin: 0 auto;
      border-radius: 20px;
      background-color: black;
      font-size: 1.8rem;
      text-transform: uppercase;
      color: white;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }
}
