@import "./global.scss";

.events {
  display: grid;
  grid-template-columns: 280px 1fr;

  @media (max-width: 1280px) {
    grid-template-columns: 240px 1fr;
  }

  @media (max-width: 980px) {
    display: block;
  }
}
