@import "./global.scss";

.eventsFilter {
  height: calc(100vh - 67px);
  overflow-y: scroll;
  border-right: 1px solid black;
  padding: $base-gap;

  > div {
    position: sticky;
    top: 100px;
    width: 100%;
    height: 100%;

    a {
      display: block;
      margin-bottom: 10px;
      font-size: 4.2rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: -2px;

      &:hover,
      &.active {
        color: transparent;
        -webkit-text-stroke: black;
        -webkit-text-stroke-width: 1px;
      }
    }
  }
}
