@import "./global.scss";

.eventsList {
  // .sortBar {
  //   padding: 0 $base-gap;
  //   border-bottom: 1px solid black;
  //   display: flex;

  //   button {
  //     all: unset;
  //     display: block;
  //     padding: 10px $base-gap;
  //     border-left: 1px solid black;
  //     font-size: 1.8rem;
  //     font-weight: 900;
  //     text-transform: uppercase;

  //     &:first-child {
  //       margin-left: auto;
  //     }
  //   }
  // }

  .scroll-container {
    height: calc(100vh - 67px);
    overflow-y: scroll;

    section {
      padding: 0 $base-gap;
      display: grid;
      grid-template-columns: 200px 1fr;
      border-bottom: 1px solid black;

      &:last-child {
        border-bottom: none;
      }

      .date {
        padding: $base-gap 0;

        p {
          font-size: 3.6rem;
          font-weight: 900;
          text-transform: uppercase;
          position: sticky;
          top: $base-gap;
        }
      }

      article {
        padding: $base-gap 0;
        border-bottom: 1px solid black;
        display: grid;
        grid-template-columns: 4fr 6fr;
        gap: $base-gap;

        &:last-child {
          border-bottom: 0;
        }

        &.expired {
          opacity: 0.2;
          pointer-events: none;
        }

        .textBox {
          display: grid;
          grid-template-rows: auto 1fr auto auto;

          .eventType {
            display: inline-block;
            padding-left: 20px;
            margin-bottom: 10px;
            font-size: 1.6rem;
            text-transform: uppercase;
            letter-spacing: 0;
            position: relative;

            &::before {
              display: block;
              content: "";
              width: 10px;
              height: 10px;
              background: black;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }
          }

          .eventName {
            font-size: 3.6rem;
            font-weight: 900;
            text-transform: uppercase;
          }

          .eventDate {
            margin-top: auto;
            font-size: 2.8rem;
            font-weight: 900;
            text-transform: uppercase;
          }

          .btnBox {
            margin-top: 10px;

            button {
              all: unset;
              cursor: pointer;
            }

            button,
            a {
              display: inline-block;
              padding: 8px 20px;
              margin-right: 10px;
              border-radius: 20px;
              border: 1px solid black;
              font-size: 1.8rem;
              text-transform: uppercase;

              &:hover {
                background-color: black;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
