@import "./global.scss";

.eventSearch {
  min-height: 50vh;
  padding: calc(#{$base-gap} * 3) $base-gap;

  h2 {
    margin-bottom: $base-gap;
    font-size: 3.6rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  input {
    all: unset;
    display: block;
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    // border: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 2.4rem;
    text-align: center;
  }
}
