@import "./global.scss";

.eventInfo {
  padding: $base-gap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $base-gap;

  position: relative;

  .textBox {
    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: $base-gap;

    > * {
      display: grid;
      grid-auto-rows: min-content;
      gap: 10px;
    }

    .event-info {
      span {
        padding-left: 20px;
        font-size: 1.8rem;
        position: relative;

        &::before {
          display: block;
          content: "";
          width: 10px;
          height: 10px;
          background: black;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }

      h2 {
        font-size: 4.8rem;
        font-weight: 900;
        text-transform: uppercase;
      }

      p {
        font-size: 2.8rem;
        text-transform: uppercase;
      }
    }

    .seat-info {
      p {
        font-size: 2.4rem;
        text-transform: uppercase;
      }

      li {
        display: inline-block;
        width: 40px;
        margin-right: 10px;
        margin-bottom: 5px;
        padding: 10px 0;
        background-color: rgb(66, 165, 99);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        font-size: 1.8rem;
        text-align: center;
      }
    }

    .ticket-info {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      padding-top: $base-gap;
      border-top: 1px solid rgb(206, 206, 206);

      p {
        font-size: 4.2rem;
      }

      button {
        all: unset;
        display: block;
        width: fit-content;
        padding: 10px;
        border: 1px solid black;
        background-color: black;
        font-size: 2.4rem;
        color: white;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .bookingBox {
    .seatMap {
      padding: $base-gap;
      min-height: calc(100vh - 180px - 160px);
      overflow: scroll;
      background-color: rgb(238, 237, 237);

      span {
        display: block;

        &.room {
          margin-bottom: $base-gap;
          font-size: 2.4rem;
        }

        &.stage {
          width: 100%;
          padding: 10px 0;
          margin-bottom: 20px;
          background-color: white;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          font-size: 1.6rem;
          font-weight: 900;
          text-transform: uppercase;
          text-align: center;
        }

        &.row {
          width: fit-content;
          margin: 0 auto;
          display: flex;
          gap: 5px;
          margin-bottom: 5px;

          .seat {
            width: 100%;
            min-width: 30px;
            height: 30px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            font-size: 100%;
            text-align: center;
            line-height: 2;
            cursor: pointer;

            &:hover {
              background-color: rgba(66, 165, 99, 0.5);
            }

            &[data-status="taken"] {
              background: rgb(185, 185, 185);
              pointer-events: none;
            }

            &[data-status="booked"] {
              background: rgb(185, 82, 82);
              pointer-events: none;
            }

            &[data-status="selected"] {
              background: rgb(66, 165, 99);
            }

            &.--admin {
              pointer-events: all !important;
            }
          }
        }
      }
    }
  }
}
