@import "reset-css";

body * {
  box-sizing: border-box !important;
}

a {
  color: inherit;
  text-decoration: none;
}

// basic setting
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  letter-spacing: -1px;
}

.App {
  width: 100vw;
}

// variables
$base-gap: 30px;

// common attributes
.imgBox {
  width: 100%;
  aspect-ratio: 4/3;
  background-color: gray;
  position: relative;
  overflow: hidden;

  img {
    display: block;
    width: 100%;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
